

/* Customize the label (the container) */
.choice {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  /* Hide the browser's default radio button */
  .choice input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .choiceHead {
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  /* Hide the browser's default radio button */
  .choiceHead input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .choice:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .choice input:checked ~ .checkmark {
    background-color: #ffed4b;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .choice input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .choice .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .correct-answer{
    background-color:rgb(50, 255, 70);
    border-radius: 0.25em;  
    border: 3px solid rgb(40, 237, 50);
  }

  /* buttonnnnnnnnnn */
  
  .backButton {
    height:100%;
    background: -moz-linear-gradient(top, #864cbf 70%, #888 30%);
    background: -webkit-linear-gradient(top, #864cbf 70%,#888 30%);
    background: linear-gradient(to bottom, #864cbf 70%,#888 30%);
}




.body {
  font-size: 15px;
}

.card-holder {
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 3em;
  color: white;
  font-weight: 800;
  height: 4em;
  width: 1600px; /* 50%*/
  padding: 0.5em 1em;
  border-radius: 0.25em;  
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card .subtle {
  color: #000;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: -1px;
}

.card i {
  font-size: 3em;
}

.bg-gold {
  background: -webkit-linear-gradient(110deg,#8c65a5 60%, #b390ca 60%);
  background: -o-linear-gradient(110deg, #8c65a5 60%, #b390ca 60%);
  background: -moz-linear-gradient(110deg, #8c65a5 60%, #b390ca 60%);
  background: linear-gradient(110deg, #8c65a5 60%, #b390ca 60%);
}



.homeworkList button{
  background: #fdcd3b;
  color: #000;
  margin: 4px;
}

table {
  width: 100%;
}
.collection{
  width: 100%;
  position: relative;
  display: flex;
}


.fText {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  }


  