.col-count-3 { column-count: 3; }
.col-lg-4 { 
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%; 
    max-width: 33.333333% 
}

@keyframes bgcolor {
    0% {
        background-color: #b7b3ec
    }

    25% {
        background-color: #fbad63
    }

    50% {
        background-color: #ffc3d4
    }

    75% {background-color: #a9ec7c
        /* background-color: rgb(235, 65, 212) */
    }

    100% {
        background-color: #d690f1
    }
}

body {
    -webkit-animation: bgcolor 40s infinite;
    animation: bgcolor 50s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.icon {
    display: block;
    margin-left: 3%;
    margin-top: 1%;
}
#title{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
#gamePinText{
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
}
.counter{
    width: 200px;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
}

.counter h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: rgb(75, 73, 73);
}

#playerCount{
    font-size: 50px;


}
  

.joincontainer{
    margin: 0% 10%;
    padding: 1% 2%;
    width: 80%;
    position: relative;

}
  td{
    width: 33.33%;
    text-align: center;
  }

#players{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    resize: none;
}

#start{
    background-color: rgb(82, 230, 95); 
    font-family: 'Open Sans Condensed', sans-serif;;
    float: right;
}

#count {
    width: auto;
    height: auto;
    background-color: rgb(82, 230, 95);
}