html, body { padding: 0; margin: 70px 0px 0px 0px; }
.col-count-2 { column-count: 2; }
.col-lg-4 { 
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%; 
    max-width: 33.333333% 
}
.col-lg-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%; 
    max-width: 50% 
}
.col-lg-8 { 
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%; 
    max-width: 66.666667% 
}
.col-lg-12 { 
    -ms-flex:0 0 100%;
    flex:0 0 100%; 
    max-width: 100% 
}

.navbar {
    background-color: rgb(63, 63, 63);
    color: #FFFFFF;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 17%;
    max-height: 17%;
}
    .navbar table tbody tr td {
        width: 1%;
        padding: 0% 5%;
    }

.resultgraph {
    text-align: center;
}

#answer1{
    background-color: rgb(241, 48, 48);
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer2{
    background-color: #4dacc8;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer3{
    background-color: #f57deb;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer4{
    background-color: #00cc5f;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.square{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 70px;
    height: 0px;
    font-size: 20px;
}

#square1{
    background-color: rgb(241, 48, 48);
}
#square2{
    background-color: #4dacc8;
}
#square3{
    background-color: #f57deb;
}
#square4{
    background-color: #00cc5f;
}

#nextQButton{
    display: none;
}
#question{
    font-family: 'Raleway', sans-serif;
}
#timerText{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
}
#num{
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
    text-align: right;
}
#playersAnswered{
    font-family: 'Open Sans Condensed', sans-serif;
}
#questionNum{
    font-family: 'Open Sans Condensed', sans-serif;
}

#winner1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
    display: none;
}
#winner2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;
    display: none;
}
#winner3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    display: none;
}
#winner4{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}
#winner5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}
#winnerTitle{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #3399ff;
    display: none;
}