.col-count-3 { column-count: 3; }
.col-lg-4 { 
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%; 
    max-width: 33.333333% 
}

@keyframes bgcolor {
    0% {
        background-color: #ae00f3
    }

    30% {
        background-color: #c6aaf3
    }

    60% {
        background-color: #9930fcea
    }

    90% {
        background-color: rgb(195, 65, 235)
    }

    100% {
        background-color: #d1579e
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.icon {
    display: block;
    margin-left: 3%;
    margin-top: 1%;
}
#title{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
#gamePinText{
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
}
.counter{
    width: 90%;
    margin-left: 5%;
    font-family: 'Tajawal', sans-serif;
    text-align: left;
    color: rgb(240, 240, 240);
}
  .counter h3{
      font-size: 20px;
  }
  #playerCount{
      font-size: 32px;
  }

.joincontainer{
    margin: 0% 10%;
    padding: 1% 2%;
    width: 80%;
    position: relative;

}
  td{
    width: 33.33%;
    text-align: center;
  }

#players{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    resize: none;
}

#start{
    background-color: #3A3B3A;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#count {
    width: auto;
    height: auto;
    background-color: rgb(82, 230, 95);
}
