html, body { height: 90%; padding: 0; margin: 0; }
.short{
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}
.shortansbutton{
    width: 25%; height: 25%;
}
.shortanswertext{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100%; height: 50%; float: center;
    margin-bottom: 1%;
}
button{
    width: 50%; height: 50%; float: left;
}
#answer1{
    background-color: #4CAF50;
}
#answer2{
    background-color: #f94a1e;
}
#answer3{
    background-color: #3399ff;
}
#answer4{
    background-color: #ff9933;
}



#buttons{
    text-align: center;
}
#nameText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#message{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
}

.container {
    background: #FFFAF0;
    width: 100%; height: 100%; 
  }