table{
    width:100%;
    table-layout: fixed;
  }
.scoreBox{
    width: 100%;
    display: flex;
    background-color:rgb(179, 81, 224);
    border: 3px solid rebeccapurple;
}

.scoreBox .totalScore {
    width: 30%;
    text-align: center;
    display: block;
    position: relative;
    padding: 1%;
    background-color: rgb(221, 195, 240);
}

.scoreBox .scoreDetail {
    width: 70%;
    display: inline-block;
    /* position: relative; */
    padding: 1%;
    text-align: center;
}

th{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    max-height: 50px;
  }
  td{
    /* padding-top: 0%; */
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: darkslategray;
    border-bottom: solid 1px rgba(205,205,205,0.5);
  }

#questionBox{
    display: block;
    margin-left: 10%;
    font-size: 100%;
}